
 ::-webkit-scrollbar {
 	width:6px;
 	height:6px;
 }
 ::-webkit-scrollbar-track{
   background: rgb(239, 239, 239);
   border-radius:2px;
 }
 ::-webkit-scrollbar-thumb{
   background: #bfbfbf;
   border-radius:10px;
 }
 ::-webkit-scrollbar-thumb:hover{
   background: #001938;
 }
 ::-webkit-scrollbar-corner{
   background: #179a16;
 }
#app{
	@media (max-width: 2000px){
		.theme-container{
			padding-right 400px;
		}
		.global-ui{
			width :400px;
		}
	}
	@media (max-width: 1600px){
		.theme-container{
			padding-right 350px;
		}
		.global-ui{
			width :350px;
		}
	}
	.global-ui{
		position: fixed;
		right:0;
		top: 0;
		height:100%;
	}
	.page{
		padding-left:13rem;
	}
	.theme-default-content:not(.custom){
		max-width: 90%;
	}
	@media (max-width: 719px){
		.page {
		    padding-left: 0;
		}
	}
	@media (max-width: 419px){
		.theme-default-content:not(.custom){
			padding-left:0;
			padding-right :0;
		}
	}
	.sidebar-links{
		>li{
			>.active.sidebar-link{
				background #e6f7ff;
			}
		}
	}
	.navbar{
		background: #001938;
		border:none;
	}
	.site-name{
		color #fff;
	}
	.nav-links a{
		color #fff;
	}
	.links{
		background: #001938;
	}
	.sidebar{
		width :13rem;
		.nav-links{
			background: #001938;
		}
	}
	.home-link{
		background:url(/120.png) no-repeat left center;
		background-size:30px; 
		padding-left:50px;
	}
	.action-button{
		background-color: #0691C0;
	}
}

