
 ::-webkit-scrollbar {
 	width:6px;
 	height:6px;
 }
 ::-webkit-scrollbar-track{
   background: rgb(239, 239, 239);
   border-radius:2px;
 }
 ::-webkit-scrollbar-thumb{
   background: #bfbfbf;
   border-radius:10px;
 }
 ::-webkit-scrollbar-thumb:hover{
   background: #001938;
 }
 ::-webkit-scrollbar-corner{
   background: #179a16;
 }
*{
	margin:0;
	padding:0;
	list-style:none;
}
#app{
	@media (max-width: 2000px){
		.theme-container{
			padding-right 400px;
		}
		.global-ui{
			width :400px;
		}
	}
	@media (max-width: 1600px){
		.theme-container{
			padding-right 350px;
		}
		.global-ui{
			width :350px;
		}
	}
	.global-ui{
		position: fixed;
		right:0;
		top: 0;
		height:100%;
	}
	.page{
		padding-left:13rem;
	}
	.theme-default-content:not(.custom){
		max-width: 90%;
	}
	@media (max-width: 719px){
		.page {
		    padding-left: 0;
		}
	}
	@media (max-width: 419px){
		.theme-default-content:not(.custom){
			padding-left:0;
			padding-right :0;
		}
	}
	.sidebar-links{
		>li{
			>.active.sidebar-link{
				background #e6f7ff;
			}
		}
	}
	.navbar{
		background: $header-bg;
		box-shadow:3px 3px 5px rgba(0,0,0,.25);
		border:none;
		.links{
			background: $header-bg;
		}
	}
	.site-name{
		color #fff;
	}
	.nav-links a{
		color #fff;
	}
	
	.sidebar{
		width :13rem;
		.nav-links{
			background: $header-bg;
		}
	}
	.home-link{
		background:url(/solar-vue/images/logo120.png) no-repeat left center;
		background-size:30px; 
		padding-left:50px;
	}
	.action-button{
		background-color: $home-btn-bg;
	}
	.theme-default-content:not(.custom) > h1,
	 .theme-default-content:not(.custom) > h2,
	  .theme-default-content:not(.custom) > h3,
	   .theme-default-content:not(.custom) > h4,
	    .theme-default-content:not(.custom) > h5,
		 .theme-default-content:not(.custom) > h6{
			 margin-top:0;
		 }
}

.file-blank{
	height:30px;
}
.site-introduce{
	padding:10px;
}
.site-introduce-title{
	font-weight: 500;
	font-size: 17px;
	line-height:20px;
	margin-bottom:20px;
}
.site-introduce-text{
	color: #34495e;
    font-size: 14px;
    line-height: 26px;
}

a.sidebar-link.active{
	transition:all 0.3s;
	font-size:1.2em;
}
a.sidebar-link{
	transition:all 0.3s;
}